@media (max-width: 992px) {
    .purchase-plan{
        text-align: center;
    }   
}

@media (max-width: 768px) {
    .hero-con p{
        font-size: 14px;
    }
    .color-btn{
        padding: 8px 10px;
        margin-right: 10px;
        font-size: 12px;
    }
    .trans-btn{
        padding: 7px 10px;
        margin-right: 10px;
        font-size: 12px;
        margin-top: 10px;
    }
    .goodwill-con ul li:nth-child(1){
        font-size: 14px;
    }
    .goodwill-con ul li:nth-child(2){
        font-size: 8px;
    }
}

@media (max-width: 576px) {
    .hero-con p{
        font-size: 12px;
    }
    .color-btn{
        padding: 5px 10px;
        margin-right: 10px;
        font-size: 12px;
    }
    .trans-btn{
        padding: 4px 10px;
        margin-right: 10px;
        font-size: 12px;
        margin-top: 10px;
    }
    .carousel-inner{
        width: 300px;
    }
    .goodwill-con ul li:nth-child(2){
        font-size: 6.5px;
    }
}

